* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #333;
}

nav {
  background: #c7e8e7;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav .logo {
  width: 150px;
  height: auto;
}

nav .nav-links {
  list-style: none;
  display: flex;
}

nav .nav-links li {
  margin-left: 1rem;
}

nav .nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}

.hero {
  background: linear-gradient(to bottom, #c7e8e7, #ffffff);
  color: #333;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 2rem;
  margin-top: 110px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.text-content {
  flex: 1;
  margin-right: 2rem;
}

.text-content h1 {
  font-size: 6rem;
  color: #2e8074;
  font-weight: bold;
}

/* WARNA FONT KEGANTI */
.hero-content p {
  font-size: 1.2rem;
  color: #706666;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-content img {
  max-width: 100%;
  height: auto;
  flex: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}

.btn {
  margin-top: 20px;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ffd700;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffc107;
}

section {
  padding: 2rem;
  margin-top: 60px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about {
  background: linear-gradient(to bottom, #efeada, #ffffff);
  margin-bottom: 1rem;
  color: #2e8074;
  text-align: center;
}

.about h2 {
  font-size: 3.5rem;
  margin-top: 2rem;
}

.about p {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.image-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.image {
  max-width: 100%;
  height: auto;
  width: 500px;
}

.sdgs-image-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.sdgs-image {
  max-width: 100%;
  height: auto;
  width: 250px;
}

.gallery {
  background: linear-gradient(to bottom, #bce1dd, #ffffff);
  padding: 2rem;
}

.gallery h2 {
  font-size: 3.5rem;
  color: #2e8074;
  margin-left: 7rem;
  margin-top: 5rem;
}

.gallery p {
  font-size: 1.5rem;
  color: #000000;
  margin-left: 7rem;
  max-width: 500px;
}

.gallery .btn {
  margin-left: 7rem;
  background-color: #2e8074;
  color: white;
}

.gallery .btn:hover {
  background-color: #1f6055;
}

.gallery .gallery-cards {
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  margin-right: 7rem;
}

.gallery .gallery-cards img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
}

.blogs {
  padding: 2rem;
  background: linear-gradient(to bottom, #efeada, #ffffff);
}

.blogs h2 {
  font-size: 3.5rem;
  color: #2e8074;
  margin-left: 3rem;
  margin-top: 1rem;
}

.blogs .blog-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.blogs .blog-cards .blog-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 1rem;
  max-width: 450px;
  width: 100%;
  box-shadow: 10px 10px 5px #2e8074;
  display: flex;
  flex-direction: column;
  position: relative;
  outline: 2px solid #2e8074;
}

.blogs .blog-cards .blog-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.blogs .blog-cards .blog-card h3 {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 0.5rem;
}

.blogs .blog-cards .blog-card p {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 5rem;
}

.blogs .blog-cards .blog-card .btn {
  font-size: 1rem;
  color: #ffffff;
  background-color: #2e8074;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.blogs .blog-cards .blog-card .btn:hover {
  background-color: #1f6055;
}

.blogs .more-blogs-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.blogs .more-blogs-btn {
  font-size: 1.2rem;
  color: #000000;
  background-color: #ffd700;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 2rem;
}

.blogs .more-blogs-btn:hover {
  background-color: #ffc107;
}

.activity {
  background: linear-gradient(to bottom, #bce1dd, #ffffff);
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.activity h2 {
  font-size: 3.5rem;
  color: #2e8074;
  margin-top: 1rem;
}

.activity .activity-cards h3 {
  margin-top: 2rem;
  font-size: 2rem;
}

.activity .activity-cards p {
  font-size: 1.2rem;
  color: #000000;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.activity .btn {
  font-size: 1rem;
  color: #fff;
  background-color: #2e8074;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.activity .btn:hover {
  background-color: #1f6055;
}

.services {
  background: linear-gradient(to bottom, #efeada, #ffffff);
  color: #333;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-content {
  max-width: 1200px;
  width: 100%;
}

.main-heading {
  text-align: center;
  font-size: 3.5rem;
  color: #2e8074;
  margin-bottom: 2rem;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content h3 {
  font-size: 2.5rem;
  color: #2e8074;
  margin-bottom: 1rem;
}

.text-content p {
  font-size: 1.2rem;
  color: #000;
}

.services .image-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0 2rem;
}

.services .image-content img {
  max-width: 100%;
  height: auto;
}

.services .btn {
  margin-top: 20px;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #2e8074;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.services .btn:hover {
  background-color: #1f6055;
}

.partnership {
  background: linear-gradient(to bottom, #bce1dd, #ffffff);
  margin-bottom: 1rem;
  color: #2e8074;
}

.partnership h2 {
  font-size: 2.5rem;
  margin-left: 9.5rem;
}

.partnership p {
  font-size: 1.3rem;
}

.partnership-image-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.partnership-image {
  max-width: 100%;
  height: auto;
  width: 250px;
}

.partnership .btn {
  margin-top: 20px;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #2e8074;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.partnership .btn:hover {
  background-color: #1f6055;
}

.contact {
  background: linear-gradient(to bottom, #efeada, #ffffff);
  color: #2e8074;
}

.contact h2 {
  font-size: 3.5rem;
  margin-left: 12.5rem;
}

.contact .image-container {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.contact .image {
  max-width: 100%;
  height: auto;
  width: 500px;
}

.faq {
  background-color: #ffffff;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.faq h2 {
  font-size: 3rem;
}

.footer {
  background-color: #bce1dd;
  color: #333;
  padding: 2rem;
  text-align: center;
}

.footer-logo {
  margin-bottom: 1.5rem;
}

.footer-logo img {
  width: 100px;
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.footer-sections .section {
  display: flex;
  flex-direction: column;
}

.footer-sections a {
  color: #333;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: color 0.3s;
}

.footer-sections a:hover {
  color: #333;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-bottom .copyright {
  flex: 1;
  text-align: left;
}

.footer-bottom .social-media {
  display: flex;
  align-items: center;
  flex: 1;
  text-align: right;
  justify-content: flex-end;
}

.footer-bottom .social-media img {
  width: 24px;
  margin-right: 0.5rem;
}

.footer-bottom .social-media span {
  color: #333;
}
